.p-header {
    &__top {
        text-align: center;
        display: flex;
        flex-direction: column;
        color: $main-color;
        @include break($pc) {
            flex-direction: initial;
            justify-content: space-between;
        }
        h1 {
            font-family: 'Roboto', sans-serif;
            font-size: 2.5rem;
            padding-top: 40px;
            @include break($pc) {
                font-size: 4em;
                padding-top: 0;
                padding-left: 65px;
                line-height: 217px;
            }
        }
    }
}

.p-search-form {
    padding: 38px 0;
    @include break($pc) {
        width: 546px;
        padding: 0;
        margin: auto 0;
    }
    input {
        height: 46px;
        border-radius: 10px;
        &[type=text] {
            width: 60%;
            font-family: fontawesome;
            padding-left: 5px;
            border: 1px solid $main-color;
        }
        &[type=submit] {
            width: 30%;
            background-color: #F2EDE9;
            color: $main-color;
        }
    }
}

.p-header__menu {
    font-family: 'Roboto', sans-serif;
    color: $main-color;
    font-size: 4.2vw;
    font-weight: bold;
    position: absolute;
    top: 16px;
    right: 18px;
    z-index: 100;
    @include break($pc) {
        display: none;
    }
}